# 依赖
node_modules/
*/node_modules/

# 构建产物
dist/
*/dist/
.vite/
.nuxt/
.output/
.nitro/

# 环境变量文件（所有层级）
.env
.env.local
.env.*.local
apps/*/.env
apps/*/.env.local
apps/*/.env.*.local

# 日志
*.log
npm-debug.log*
pnpm-debug.log*
nuxt_log.txt

# 系统
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# 编辑器
.kiro/
.trae-configs/*
!.trae-configs/readme-sync-fingerprint.json

# pnpm
.pnpm-store/

# Server
apps/server/data/*.db
apps/server/uploads/*
!apps/server/uploads/.gitkeep
!apps/server/data/.gitkeep

# 脚本
scripts/*.bash
scripts/bin
